<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= resource.title ? title + ' | ' : '' %>Data Publishing Platform</title>
    <link href="/stylesheets/main" rel="stylesheet" />
  </head>
<body>
  <header>
    <h1>Data publication platform</h1>
    <h2>Collection of the Smithsonian Cooper-Hewitt, National Design Museum</h2>
  </header>
  <div id="main">
    <%- contents %>
  </div>
  <footer>
    <% if (resource.url) { %>
    <p class="permanent">
      Permanent URL of this resource: <a href="<%= url %>"><%= url %></a>
    </p>
    <% } %>
    <div class="copyright">
      <p>
        This is a demonstration application for the book
        <a href="http://www.facetpublishing.co.uk/title.php?id=9641">Linked Data for Libraries, Archives and Museums</a>.
        <br>
        The source code is freely available under the MIT license.
      </p>
      <p>
        The data is licenced by the
        <a href="http://www.cooperhewitt.org/">Smithsonian Cooper-Hewitt, National Design Museum</a>
        under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero (CC0) license</a>.
        <br>
        Images are <em>not</em> covered under this license
        and may not be used without permission.
      </p>
    </div>
  </footer>
</body>
</html>
